    <footer class="footer pt-6 pb-5 bg-dark text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img class="navbar-brand-dark mb-4" height="35" src="/static/assets/img/brand/light.svg"
                        alt="Logo light">
                    <p>전주대학교 팀프로젝트를 위한 웹사이트입니다.<br>
                        (지능형 영어 어휘 학습 시스템)</p>
                    <ul class="social-buttons mb-5 mb-lg-0">
                        <li>
                            <a href="https://github.com/kim-do-hyeon" aria-label="github social link" class="icon-white me-2">
                                <span class="fab fa-github"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-md-2 mb-5 mb-lg-0">
                    <span class="h5">JeonJu University</span>
                    <ul class="footer-links mt-2">
                        <li><a href="/learn/toeic">영어 학습</a></li>
                        <li><a href="/exam/toeic">영어 테스트</a></li>
                        <li><a href="/vocabulary_list">단어장</a></li>
                        <li><a href="/report_bug">오류 신고</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-2 mb-5 mb-lg-0">
                    
                </div>
                <div class="col-12 col-md-4 mb-5 mb-lg-0">
                    <span class="h5">Contact US</span>
                    <p class="text-muted font-small mt-2">
                    </p>
                    <form action="#">
                        <div class="form-row mb-2">
                            <div class="col-12">
                                <label class="h6 fw-normal text-muted d-none" for="exampleInputEmail3">Email address</label>
                                <input type="email" class="form-control mb-2" placeholder="example@company.com" name="email"
                                    aria-label="Subscribe form" id="exampleInputEmail3" required>
                            </div>
                            <div class="col-12 d-grid">
                                <button type="submit" class="btn btn-tertiary" data-loading-text="Sending">
                                    <span>Subscribe</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <hr class="bg-secondary my-3 my-lg-5">
            <div class="row">
                <div class="col mb-md-0">
                    <a href="https://jj.ac.kr" target="_blank" class="d-flex justify-content-center mb-3">
                        <img src="/static/assets/img/jeonju_university.png" height="30" class="me-2" alt="Themesberg Logo">
                        <p class="text-white fw-bold footer-logo-text m-0">JeonJu University</p>
                    </a>
                    <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                        <p class="fw-normal font-small mb-0">
                            &copy; JeonJu University - coded by pental.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>