
    <header class="header-global">
        <nav id="navbar-main" aria-label="Primary navigation" class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-dark">
            <div class="container position-relative">
                <a class="navbar-brand me-lg-5" href="/index">
                    <img class="navbar-brand-dark" src="/static/assets/img/brand/light.svg" alt="Logo light">
                    <img class="navbar-brand-light" src="/static/assets/img/brand/dark.svg" alt="Logo dark">
                </a>
                <div class="navbar-collapse collapse me-auto" id="navbar_global">
                    <div class="navbar-collapse-header">
                        <div class="row">
                            <div class="col-6 collapse-brand">
                                <a href="/index">
                                    <img src="/static/assets/img/brand/dark.svg" alt="Themesberg logo">
                                </a>
                            </div>
                            <div class="col-6 collapse-close">
                                <a href="#navbar_global" class="fas fa-times" data-bs-toggle="collapse" data-bs-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" title="close" aria-label="Toggle navigation"></a>
                            </div>
                        </div>
                    </div>
                    <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="frontPagesDropdown" aria-expanded="false" data-bs-toggle="dropdown">
                                학습
                                <span class="fas fa-angle-down nav-link-arrow ms-1"></span>
                            </a>
                            <div class="dropdown-menu dropdown-megamenu px-0 py-2 p-lg-4" aria-labelledby="frontPagesDropdown">
                                <div class="row">
                                    <div class="col-6 col-lg-4">
                                        <h6 class="d-block mb-3 text-primary">영어 학습</h6>
                                        <ul class="list-style-none mb-4">
                                            <li class="mb-2 megamenu-item">
                                                <a class="megamenu-link" href="/learn/toeic">해커스 토익</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-6 col-lg-4">
                                        <h6 class="d-block mb-3 text-primary">단어장</h6>
                                        <ul class="list-style-none mb-4">
                                            <li class="mb-2 megamenu-item">
                                                <a class="megamenu-link" href="/vocabulary_list">나의 단어장</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="componentsDropdown" aria-expanded="false" data-bs-toggle="dropdown">
                                테스트
                                <span class="fas fa-angle-down nav-link-arrow ms-1"></span>
                            </a>
                            <div class="dropdown-menu dropdown-megamenu px-0 py-2 p-lg-4" aria-labelledby="componentsDropdown">
                                <div class="row">
                                    <div class="col-6 col-lg-4">
                                        <h6 class="d-block mb-3 text-primary">영어 어휘 테스트</h6>
                                        <ul class="list-style-none mb-4">
                                            <li class="mb-2 megamenu-item">
                                                <a class="megamenu-link" href="/test/toeic">해커스 토익</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-6 col-lg-4">
                                        <h6 class="d-block mb-3 text-primary">오답정리</h6>
                                        <ul class="list-style-none mb-4">
                                            <li class="mb-2 megamenu-item">
                                                <a class="megamenu-link" href="/wrong">나의 오답노트</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="adminDropdown" aria-expanded="false" data-bs-toggle="dropdown">
                                관리자
                                <span class="fas fa-angle-down nav-link-arrow ms-1"></span>
                            </a>
                            <div class="dropdown-menu dropdown-megamenu px-0 py-2 p-lg-4" aria-labelledby="adminDropdown">
                                <div class="row">
                                    <div class="col-6 col-lg-4">
                                        <h6 class="d-block mb-3 text-primary">단어 관리</h6>
                                        <ul class="list-style-none mb-4">
                                            <li class="mb-2 megamenu-item">
                                                <a class="megamenu-link" href="/admin/upload/word">단어 등록</a>
                                            </li>
                                            <li class="mb-2 megamenu-item">
                                                <a class="megamenu-link" href="/admin/management/database/view">데이터베이스 관리</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-6 col-lg-4">
                                        <h6 class="d-block mb-3 text-primary">유저 관리</h6>
                                        <ul class="list-style-none mb-4">
                                            <li class="mb-2 megamenu-item">
                                                <a class="megamenu-link" href="/admin/user/view/all">사용자 확인</a>
                                            </li>
                                            <li class="mb-2 megamenu-item">
                                                <a class="megamenu-link" href="/admin/user/view/permission">사용자 권한 변경</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" id="supportDropdown" aria-expanded="false">
                                Support
                                <span class="fas fa-angle-down nav-link-arrow ms-1"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg" aria-labelledby="supportDropdown">
                                <div class="col-auto px-0">
                                    <div class="list-group list-group-flush">
                                        <a href="https://github.com/kim-do-hyeon" target="_blank" 
                                           class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4">
                                            <span class="icon icon-sm"><span class="fas fa-microphone-alt"></span></span>
                                            <div class="ms-4">
                                                <span class="d-block font-small fw-bold mb-0">Support</span>
                                                <span class="small">Need help? Ask us!</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="d-flex align-items-center">
                    <a href="{{ url_for('authentication_blueprint.logout') }}"
                       class="btn btn-outline-gray-100 d-none d-lg-inline me-md-3"><span class="fas fa-sign-out-alt me-2"></span> Logout</a>
                </div>
            </div>
        </nav>
    </header>

